---
page_name: 'blog'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#282828">
    <link rel="stylesheet" href="/css/blog_post.css">
    <link rel="shortcut icon" type="image/png" href="/assets/raudio_logo.png"/>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'nav_bar.njk' %}

    <div class="container">
        <header>
            <a href="/blog/">Back to blogs</a>
            <h1>{{ title }}</h1>
            <h2>{{ description }}</h2>
            <p>{{ author }} · {{ date | blogDate }}</p>
        </header>
        
        <main>
            {{ content | safe }}
        </main>
    </div>

    {% include "footer.njk" %}
</body>
</html>