<aside class="contributing-callout">
    <h3>Contribute to the Project</h3>
    <p>If you decide you like what you see on this project, come contribute! We are always looking for help, be it with bug reports, spelling fixes, code contributions, or just being part of the community!</p>
    <div class="buttons">
        <a 
            href="https://discord.gg/FM78JTfU9X"
            class="raudio-redirect-btn"
        >
            Join the Community
        </a>
        <a 
            href="https://github.com/raudio-project/raudio-server/blob/main/CONTRIBUTING.md"
            class="raudio-redirect-btn accented"
        >
            View our Contribution Guidelines
        </a>
    </div>
</aside>