<footer>
    <div class="links">
        <section class="raudio-logo-and-copyright">
            <img src="/assets/raudio_logo.png" alt="Image of the Raudio logo">
            <h3>Raudio Project</h3>
            <p>Copyright © 2022</p>
            <p>All rights reserved.</p>
        </section>
        <section class="footer-links contact-us">
            <h4>Contact Us</h4>
            <div class="links-container">
                <a onclick=comingSoon() href="#">Email</a>
                <a href="https://discord.gg/FM78JTfU9X">Discord</a>
                <a href="https://regserv.ndlug.org/">#raudio on NDLUG</a>
            </div>
        </section>
        <section class="footer-links contribute">
            <h4>Contribute</h4>
            <div class="links-container">
                <a href="https://github.com/raudio-project">GitHub</a>
                <a href="https://github.com/raudio-project/raudio-server/blob/main/CONTRIBUTING.md">Contribution Guidelines</a>
                <a href="https://github.com/raudio-project/raudio-server/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
                <a onclick=comingSoon() href="#">Documentation</a>
            </div>
        </section>
        <section class="footer-links more">
            <h4>More</h4>
            <div class="links-container">
                <a onclick=comingSoon() href="#">TBA</a>
            </div>
        </section>
    </div>
    <p>This project was created for the Open Source Software Development course at the University of Notre Dame. See more info <a href="https://www3.nd.edu/~pbui/teaching/cse.40677.sp22/">here</a>.</p>
</footer>
