{# Bar at the top of the website #}
<nav>
    <a class="home-text" href="/">Raudio</a>
    <div class="links">
        <a class="{{'selected' if page_name == 'index' }}" href="/">Home</a>
        <a class="{{'selected' if page_name == 'blog' }}" href="/blog">Blog</a>
        <a class="{{'selected' if page_name == 'about' }}" href="/about">About</a>
        <a class="{{'selected' if page_name == 'contact' }}" href="/contact">Contact</a>
    </div>
    <div class="right-side">
        {# We can add stuff here later if we please #}
    </div>
</nav>