@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$clr-background-dark: #282828;
$clr-background-light: #373737;
$clr-accent: #FFE9D2;

$font-primary: 'IBM Plex Mono', monospace;
$font-secondary: 'IBM Plex Sans', sans-serif;

$nav-height: 4.6em;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0.5em;
}

h2 {
    color: white;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.75rem;
}

a {
    color: $clr-accent;
    font-family: $font-secondary;
    text-decoration: none;
}

.raudio-redirect-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.5em 2em;
    font-family: $font-secondary;
    border-radius: 2px;
    font-weight: 600;
    background: $clr-background-dark;
    color: white;
}

.accented {
    background: $clr-accent;
    color: black;
}

.outlined {
    background: $clr-background-dark;
    box-shadow: inset 0px 0px 0px 1px $clr-accent;
}

/* Nav Bar */
nav {
    // Creates 3 distinct sections
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $clr-background-dark;
    height: $nav-height;

    // INFO: Is this needed? Hacky fix for now
    z-index: 1000;

    .home-text {
        color: white;
        font-family: $font-primary;
        font-size: clamp(1.9rem, 5vw, 2rem);
        padding: 0.5em;
        text-decoration: none;
    }

    .links {
        // Distributes the links evenly
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;

        @keyframes nav-underline {
            0% {
                width: 0%;
            }

            100% {
                width: 65%;
            }
        }

        a:not(.selected):hover::after,
        a:not(.selected):active::after {
            content: '';
            width: 65%;
            height: 2px;
            background-color: $clr-accent;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);

            animation: nav-underline 200ms ease-in-out;
        }

        & > a {
            color: white;
            text-decoration: none;
            font-family: $font-secondary;
            font-size: 1rem;
            position: relative;
            display: inline-block;
        }

        // The selected item gets an underline with the accent color
        .selected::after {
            content: '';
            width: 65%;
            height: 2px;
            background-color: $clr-accent;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/* Footer */
footer {
    background: $clr-background-dark;
    position: relative;

    .links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
    
        section {
            // FIXME: 2em padding looks too big on small screens
            padding: 2em;
        }
    
        // FIXME: Some of these things could be moved into the base scss file
        // to remove code duplication
        .raudio-logo-and-copyright {
            img {
                aspect-ratio: 1;
                width: 8em;
            }
    
            h3,
            p {
                color: white;
            }
    
            h3 {
                font-family: $font-primary;
                font-weight: 600;
                font-size: 1.125rem;
            }
    
            p {
                font-family: $font-secondary;
                font-size: 0.875rem;
            }
        }

        .footer-links {
            h4 {
                position: relative;
                color: $clr-accent;
                font-family: $font-primary;
                font-size: 0.875rem;
                font-weight: 600;
                margin-bottom: 0.5em;
                display: inline-block;
            }

            h4::after {
                content: "";                
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 1px;
                width: 100%;
                background: $clr-accent;
            }

            a {
                display: block;
                color: white;
                font-family: $font-secondary;
                font-size: 0.875rem;
                text-decoration: none;
                margin-top: 0.25em;
            }
        }
    }

    // Specifies only direct children of the parent
    // In this case: The disclaimer text at the bottom
    >p {
        color: white;
        font-family: $font-primary;
        font-size: 0.75rem;
        display: block;
        text-align: center;
        padding: 0.5em;
    }

}

// Displays the accent line above the footer section for some separation
footer::before {
    content: '';
    background: $clr-accent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
}

/* Contributing Callout */
.contributing-callout {
    background: $clr-background-light;
    min-height: 19em;
    margin: 4em 2.5em;
    border-radius: 8px;
    padding: 2em;

    display: flex;
    flex-flow: column;
    
    h3 {
        color: white;
        font-family: $font-primary;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5em;
    }

    p {
        color: white;
        font-family: $font-secondary;
        font-size: 1.125rem;
        flex-grow: 1;
    }

    .buttons {
        align-self: flex-end;
        
        a {
            margin-left: 1em;
        }
    }
}

.team-member-card {
    position: relative;
    width: 20em;
    aspect-ratio: 350/500;
    background-color: $clr-background-light;
    padding: 1.25em;
    border-radius: 8px;

    margin: 0 0 10em 0;

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 50%;
        background: $clr-background-dark;
    }

    h2 {
        margin-top: 1em;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 600;
    }

    h3 {
        font-family: $font-primary;
        font-size: 1.125rem;
        color: $clr-accent;
        font-weight: 500;
    }

    .link-vertical-button {
        margin-top: 0.875em;
        display: block;
        width: 2.2em;
        aspect-ratio: 0.8;
        background: $clr-accent;
        border-radius: 2px;
        position: relative;

        svg {
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

}