@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --clr-background-dark: #282828;
    --clr-background-light: #373737;
    --clr-accent: #FFE9D2;

    --font-primary: 'IBM Plex Mono', monospace;
    --font-secondary: 'IBM Plex Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: var(--font-primary);
    font-weight: 400;
}

a {
    color: var(--clr-accent);
}