@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

$clr-background-dark: #282828;
$clr-background-light: #373737;
$clr-accent: #FFE9D2;

$font-primary: 'IBM Plex Mono', monospace;
$font-secondary: 'IBM Plex Sans', sans-serif;

$nav-height: 4.6em;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: $font-primary;
    font-weight: 400;
}

a {
    color: $clr-accent;
}

/* Nav Bar */
nav {
    // Creates 3 distinct sections
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $clr-background-dark;
    height: $nav-height;

    .home-text {
        color: white;
        font-family: $font-primary;
        font-size: clamp(1.9rem, 5vw, 2rem);
        padding: 0.5em;
        text-decoration: none;
    }

    .links {
        // Distributes the links evenly
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;

        @keyframes nav-underline {
            from {
                transform: scaleX(0);
            }

            to {
                transform: scaleX(50%);
            }
        }

        a:hover::after {
            content: '';
            width: 65%;
            height: 2px;
            background-color: $clr-accent;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

        & > a {
            color: white;
            text-decoration: none;
            font-family: $font-secondary;
            font-size: 1rem;
            position: relative;
            display: inline-block;
        }

        // The selected item gets an underline with the accent color
        .selected::after {
            content: '';
            width: 65%;
            height: 2px;
            background-color: $clr-accent;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/* Footer */
footer {
    background: $clr-background-dark;
    position: relative;

    .links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
    
        section {
            // FIXME: 2em padding looks too big on small screens
            padding: 2em;
        }
    
        // FIXME: Some of these things could be moved into the base scss file
        // to remove code duplication
        .raudio-logo-and-copyright {
            img {
                aspect-ratio: 1;
                width: 8em;
            }
    
            h3,
            p {
                color: white;
            }
    
            h3 {
                font-family: $font-primary;
                font-weight: 600;
                font-size: 1.125rem;
            }
    
            p {
                font-family: $font-secondary;
                font-size: 0.875rem;
            }
        }

        .footer-links {
            h4 {
                position: relative;
                color: $clr-accent;
                font-family: $font-primary;
                font-size: 0.875rem;
                font-weight: 600;
                margin-bottom: 0.5em;
                display: inline-block;
            }

            h4::after {
                content: "";                
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 1px;
                width: 100%;
                background: $clr-accent;
            }

            a {
                display: block;
                color: white;
                font-family: $font-secondary;
                font-size: 0.875rem;
                text-decoration: none;
                margin-top: 0.25em;
            }
        }
    }

    // Specifies only direct children of the parent
    // In this case: The disclaimer text at the bottom
    >p {
        color: white;
        font-family: $font-primary;
        font-size: 0.75rem;
        display: block;
        text-align: center;
        padding: 0.5em;
    }

}

// Displays the accent line above the footer section for some separation
footer::before {
    content: '';
    background: $clr-accent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
}