// Setup done with help from https://jkc.codes/blog/using-sass-with-eleventy/

// Use base template
@use 'base';

main {
    // Every section will be 100% of the screen
    // INFO: Is it a good idea to use a relative unit here? Might break on
    // smaller devices
    section {
        width: 100vw;
        height: 100vh;
    }

    .hero-introduction {
        background: base.$clr-background-dark;

        // Displays text side by side to logo
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 2em;

        img {
            aspect-ratio: 1;
            object-fit: contain;
            width: 30em;
            
            // Makes the image rotate
            animation: rotate-infinite 1.5s ease-in-out infinite;
            animation-delay: 1s;
        }

        @keyframes rotate-infinite {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        h1 {
            color: white;
            font-family: base.$font-primary;
            font-weight: 500;
            font-size: 3rem;
            margin-bottom: 0.5em;
        }

        .right-side {
            max-width: 800px;
        }

        a {
            background: base.$clr-accent;
            color: black;
            text-decoration: none;
            padding: 0.5em 2em;
            font-family: base.$font-secondary;
            border-radius: 2px;
            font-weight: 600;
        }
    }

    // For now, since we have nothing else to talk about with the project,
    // just display some filler text
    .section-two {
        background: base.$clr-background-light;
        
        display: grid;
        gap: 0;
        place-items: center;

        h1 {
            margin: 0 2em;
            font-size: 1.75rem;
            text-align: center;
            display: inline-block;
            position: relative;
        }

        h1::before {
            content: '🚧';
            position: absolute;
            top: -1.5em;
            font-size: 5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// When the screen goes below 800px, make the hero image column and smaller
// FIXME: Is there a way to achieve this behavior without a media query?
@media screen and (max-width: 800px) {
    main .hero-introduction {
        flex-flow: column;
        text-align: center;

        img {
            width: 20em;
        }

        h1 {
            font-size: 2rem;
        }
    }
}