---
title: 'Raudio Project'
layout: 'base.njk'
page_name: index
---

{# Hero image with spinning disk. Can add more effects later #}
<section class="hero-introduction">
    <img src="./assets/raudio_logo.png" alt="Logo of the Raudio Project. It features the letter, 'R', blended together with a music note.">
    <div class="right-side">                
        <h1>The closed platform for hosting and streaming music</h1>
        <a href="https://github.com/raudio-project">GitHub</a>
        <a onclick=comingSoon() href="#">Download</a>
    </div>
</section>

{# Displays under construction message for now #}
<section class="section-two">
    <h1>We're still getting off the ground! Come back soon to see what we're up to!</h1>
</section>
